<template>
  <div 
    class="container"
    ref="el"
    :style="{
      cursor: isDragging ? 'grabbing' : 'grab',
      scrollSnapType: isDragging ? '' : '',
    }"
    @mousedown="onMouseDown"
    @mouseup="onMouseUp"
  >
    <Card v-for="(item, i) in items" :key="i" :type="item.type" :item="item"/>
  </div>
</template>

<script>
import Card from '../Card/index.vue';
export default {
  name: "Container",
  components: { Card },
  data() {
    return {
      items: [
        {
          type: "card",
          top: "100",
          title: "100 apartments for investment",
          subtitle: "Rating of flats apartments for investment in Dubai",
          tipTitle: "Let's look",
          img: 'apt'
        },
        {
          type: "card",
          top: "50",
          title: "Apartments for rent",
          subtitle: "Apartments with a yield of 12% per annum in Dubai",
          tipTitle: "Let's look",
          img: 'apt'
        },
        {
          type: "card",
          top: "30",
          title: "The most expensive projects",
          subtitle: "Apartments in houses where millionaires live",
          tipTitle: "Let's look",
          img: 'many'
        },
        {
          type: "notcard",
          title: "Apartments",
          subtitle: "Apartments",
          img: 'ap'
        },
        {
          type: "notcard",
          title: "Deals",
          subtitle: "History of real estate deals",
          img: 'deal'
        },
        {
          type: "notcard",
          title: "Trade Up",
          subtitle: "Exchange your apartment for a new one",
          img: 'tradeup'
        },
        {
          type: "notcard",
          title: "Estimation",
          subtitle: "Rate the apartment in 10 seconds",
          img: 'estimation'
        },
        {
          type: "notcard",
          top: '1',
          title: "Price",
          subtitle: "Price index and liquidity of districts",
          img: 'price'
        },
      ],
      isDragging: false,
      cursorPos: [0, 0],
      el: null,
    };
  },
  mounted() {
    window.addEventListener("mouseup", this.onMouseUp);
  },
  destroyed() {
    window.removeEventListener("mouseup", this.onMouseUp);
  },
  methods: {
    onMouseDown(ev) {
      this.cursorPos = [ev.pageX, ev.pageY];
      this.isDragging = true;
      window.addEventListener("mousemove", this.onMouseHold);
    },
    onMouseUp() { //ev
      // console.log({ x: ev.clientX, y: ev.clientY });
      // console.log(this.$refs.el.scrollLeft);
      // console.log(this.$refs.el.scrollWidth);
      // console.log(this.$refs.el.scrollWidth - this.$refs.el.clientWidth);
      window.removeEventListener("mousemove", this.onMouseHold);
      this.isDragging = false;
    },
    onMouseHold(ev) {
      ev.preventDefault();
      requestAnimationFrame(() => {
        const delta = [
          ev.pageX - this.cursorPos[0],
          ev.pageY - this.cursorPos[1],
        ];
        this.cursorPos = [ev.pageX, ev.pageY];
        if (!this.$refs.el) return;
        this.$refs.el.scrollBy({
          left: -delta[0],
          top: -delta[1],
        });
      });
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: row;
  gap: 20px;
  grid-gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
  height: auto;
  // margin: 8vh 0;
  padding: 30px;
  scroll-snap-align: start;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@supports not (gap: 1em) {
  .container {
    margin: 0 -0.5em;
  }
  .container > * {
    margin: 0 0.5em;
  }
}
@media screen and (min-height: 450px) and (max-height: 650px) {
  .container {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    height: auto;
    // margin: 8vh 0;
    padding: 20px 0;
    scroll-snap-align: start;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

</style>
