<template>
  <div :class="item.type === 'card' ? 'card' : 'card2' ">
    <span v-if="type === 'card'" class="card__tip"><img src="@/assets/lighting.svg" alt="Lighting"> TOP {{item.top}}</span>
    <img v-if="type === 'notcard'" class="card__label" :src="require(`@/assets/${item.img}.png`)" alt="Img">
    <h4  class="card__title">{{item.title}}</h4>
    <h5 class="card__subtitle" :style="item.type === 'notcard' ? { textAlign: 'center'} : {} ">{{item.subtitle}}</h5>
    <button v-if="type === 'card'" class="card__btn">{{item.tipTitle}}</button>
    <img v-if="type === 'card' && item.img !== 'many'" class="card__img" :src="require(`@/assets/${item.img}.png`)" alt="Img">
    <div v-if="item.img === 'many'" class="card__many">
      <img :src="require(`@/assets/1.png`)" alt="Img"/>
      <img :src="require(`@/assets/2.png`)" alt="Img"/>
      <img :src="require(`@/assets/3.png`)" alt="Img"/>
      <img :src="require(`@/assets/4.png`)" alt="Img"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    type: String,
    item: {
      type: Object,
      default: () => {},
      require: true
    }
  }
}
</script>

<style lang="scss">
.card {
  border-radius: 20px;
  background-color:  hsla(0 0% 0% / 0);
  background-position: center center;
  border-color: hsla(0 0% 0% / 0);
  border-style: solid;
  box-shadow: 2px 6px 20px 4px rgb(0 0 0 / 20%);
  min-width: 300px;
  width: 100%;
  height: 420px;
  
  &__tip {
    background: url('../../assets/tip.gif');
    transform-origin: center center;
    border-radius: 50px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    color: #fff;
    font-weight: 700;
    padding: 3px 10px;
    height: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 14px;
    margin: 20px 10px 10px 10px;
  }
  &__title {
    color: #202124;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: -0.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding: 0 10px;
    margin: 0;
    letter-spacing: 1px;
  }
  &__subtitle {
    color: #202124;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding: 0 10px;
    margin: 5px 0;
  }
  &__btn {
    background: #fff;
    color: #000;
    padding: 5px 20px;
    border-radius: 50px;
    color: #202124;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    border-radius: 30px;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    margin : 10px;
    margin-bottom: 20px;
  }
  &__img {
    width: 95%;
    height: auto;
    box-shadow: 0px 2px 4px 2px rgb(0 0 0 / 10%);
    border-radius: 15px;
    display: flex;
    margin: auto;
    object-fit: cover;
  }
  &__many {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    & img {
      box-shadow: 0px 2px 4px 2px rgb(0 0 0 / 10%);
      border-radius: 15px;
      object-fit: cover;
    }
  }
  &__label {
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }
}

.card2 {
  border-radius: 20px;
  background-color:  hsla(0 0% 0% / 0);
  background-position: center center;
  border-color: hsla(0 0% 0% / 0);
  border-style: solid;
  box-shadow: 2px 6px 20px 4px rgb(0 0 0 / 20%);
  min-width: 300px;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-height: 450px) and (max-height: 650px) {
  .card {
    border-radius: 20px;
    background-color:  hsla(0 0% 0% / 0);
    background-position: center center;
    border-color: hsla(0 0% 0% / 0);
    border-style: solid;
    box-shadow: 2px 6px 20px 4px rgb(0 0 0 / 20%);
    min-width: 260px;
    width: 100%;
    height: 360px;
    position: relative;
    &__tip {
      background: url('../../assets/tip.gif');
      transform-origin: center center;
      border-radius: 50px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border-color: transparent;
      color: #fff;
      font-weight: 700;
      padding: 3px 10px;
      height: 20px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      font-size: 13px;
      margin: 20px 10px 10px 10px;
    }
    &__title {
      color: #202124;
      font-size: 22px;
      line-height: 1.1;
      font-weight: 800;
      letter-spacing: -0.5px;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      padding: 0 10px;
      margin: 0;
      letter-spacing: 1px;
    }
    &__subtitle {
      color: #202124;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      padding: 0 10px;
      margin: 5px 0;
    }
    &__btn {
      background: #fff;
      color: #000;
      padding: 5px 20px;
      border-radius: 50px;
      color: #202124;
      font-size: 14px;
      line-height: 1.55;
      font-weight: 700;
      border-radius: 30px;
      background-color: #ffffff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      margin : 5px 10px 10px 10px;
    }
    &__img {
      width: 95%;
      height: auto;
      box-shadow: 0px 2px 4px 2px rgb(0 0 0 / 10%);
      border-radius: 15px;
      display: flex;
      margin: auto;
      object-fit: cover;
      position: absolute;
      bottom: 6px;
      left: 6px;
    }
    &__many {
      display: grid;
      grid-template-columns: 118px 118px;
      gap: 10px;
      justify-content: center;
      padding: 0;
      width: 100%;
      & img {
        box-shadow: 0px 2px 4px 2px rgb(0 0 0 / 10%);
        border-radius: 15px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &__label {
      width: 65px;
      height: 65px;
      margin-bottom: 10px;
    }
  }
  .card2 {
    border-radius: 20px;
    background-color:  hsla(0 0% 0% / 0);
    background-position: center center;
    border-color: hsla(0 0% 0% / 0);
    border-style: solid;
    box-shadow: 2px 6px 20px 4px rgb(0 0 0 / 20%);
    min-width: 260px;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
</style>
