<template>
  <div class="home">
    <Header/>
    <transition name="fade">
      <CardContainer />
    </transition>
    <Footer/>
  </div>
</template>

<script>
import Header from '../components/Header/index.vue';
import CardContainer from '../components/CardContainer/index.vue';
import Footer from '../components/Footer/index.vue';
export default {
    name: "Home",
    components: { Header, CardContainer, Footer }
}
</script>

<style lang="scss">
.home {
  background: url('../assets/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
