<template>
  <div class="header">
      <img class="logo" src="@/assets/logo.png" alt="Logo">
      <Tooltip class="tool"/>
  </div>
</template>

<script>
import Tooltip from '../Tooltip/index.vue';
export default {
    name: "Header",
    props: {
        msg: String
    },
    components: { Tooltip }
}
</script>

<style lang="scss">
.header {
  height: 8vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.logo {
  height: 40px;
}
.tool {
  position: absolute !important;
  right: 10%;
  transform: translateX(-10%);
}
</style>
