<template>
  <div class="footer">
    <div class="footer__list" v-for="(item, i) in items" :key="i">
      <img class="footer__list__img" :src="require(`@/assets/${item.img}.svg`)" alt="Img">
      <h5 class="footer__list__title">{{item.title}}</h5>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      items: [
        {
          title: 'Apartments',
          img: 'apartments'
        },
        {
          title: 'Deals',
          img: 'deals'
        },
        {
          title: 'Estimation',
          img: 'estimation'
        },
        {
          title: 'Trade Up',
          img: 'trade'
        },
        {
          title: 'Price Index',
          img: 'price'
        }
      ]
    }
  }
}
</script>
<style lang="scss">
.footer {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    &__img {
      height: 36px;
      width: 36px;
    }
    &__title {
      color: #4a4949;
      font-size: 14px;
      line-height: 1.55;
      font-weight: 600;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      margin: 0;
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      &__img {
        height: 26px;
        width: 26px;
      }
      &__title {
        color: #4a4949;
        font-size: 11px;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin: 0;
      }
    }
  }
}
@media screen and (min-height: 450px) and (max-height: 650px) {
  .footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      &__img {
        height: 26px;
        width: 26px;
      }
      &__title {
        color: #4a4949;
        font-size: 10px;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin: 0;
      }
    }
  }
}
</style>
