<template>
  <div class="tooltip">
    <img src="@/assets/globe.svg" alt="Lang">
    <div class="tooltipMenu bottomSide">
      <ul>
        <li>Русский</li>
        <li>English</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tooltip',
  props: {
    msg: String
  }
}
</script>

<style lang="scss" scoped>
.tooltip{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltipMenu {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltipMenu{
  visibility: visible;
  cursor: pointer;
}
.tooltipMenu{
  min-height: 100px;
  border-radius: 6px;
}
.tooltipMenu ul li{
  color: #000000;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.tooltipMenu ul{
  box-shadow: 5px 5px 20px grey;
  background: #fff;
  border-radius: 6px;
}
.tooltipMenu ul li:hover{
  cursor: pointer;
  color: rgb(61, 137, 244);
}
.bottomSide {
  top: 130%;
  left: -60%;
  transform: translateX(-60%);
  width: 120px;
}
.tooltipMenu::after {
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
}

.bottomSide.tooltipMenu::after {
    bottom: 100%;
    left: 91%;
    transform: translateX(-91%);
    border-color: transparent transparent white transparent;
}
ul {
  margin: 0;
  margin-block: 0;
  padding: 0;
  padding-inline: 0;
  list-style: none;
}
</style>
